body {
   text-align: center;
}

#calculator {
   text-align: center;
   background-color: black;
   display: inline-block;
   overflow: hidden;
   white-space: nowrap;
   border-radius: 10px;
}

#results-box {
   height: 50px;
   width: 350px;
   margin-top: 10px;
   margin-bottom: 10px;
   margin-left: 10px;
   margin-right: 10px;
   text-align: center;
   font-size: 16pt;
   border-radius: 10px;
}

.num-button {
   height: 100px;
   width: 100px;
   margin-top: 10px;
   margin-bottom: 10px;
   margin-left: 10px;
   margin-right: 10px;
   border-radius: 10px;
}

.equal-button {
   height: 100px;
   width: 225px;
   margin-top: 10px;
   margin-bottom: 10px;
   margin-left: 10px;
   margin-right: 10px;
   border-radius: 10px;
}

.clear-button {
   height: 50px;
   width: 100px;
   margin-top: 10px;
   margin-bottom: 10px;
   margin-left: 10px;
   margin-right: 10px;
   border-radius: 10px;
}

.page-header{
	background-color: grey;
}

body {
  background-color: grey;
}

#footer {
   position:fixed;
   left:0px;
   bottom:0px;
   height:80px;
   width:100%;
   background:#999;
   text-align: center;
   background: grey;
   color: black;
   padding: 15px 5px 15px 10px;
}

#footer a {
	color: black;
	font-size: 32px;
	padding: 20px;
}